/* CSS DEL RETO #1 */
.main-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding-top: 6%;
}
.main-page-grid-1{
    padding-top: 4%;
    padding-bottom: 0%;
    padding-right: 10%;
    padding-left: 10%;
}
.main-page-grid-1-text{
    font-weight: bold;
}
.main-page-grid-1-email-button{
    margin-top: 2%;
}
.div-navbar-main-footer-integrations{
    opacity: 0.5;
}
.input-main-page{
    border-radius: 11px;
    border: 0px;
    background-color: rgb(233, 233, 233);
    color: black;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 12px;
    padding-left: 12px;
}
.button-main-page{
    border-radius: 11px;
    background-color: rgb(120, 177, 34);
    color: white;
    border: 0px;
    font-weight: bold;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
}
.button-main-page:hover{
    background-color: white;
    color: rgb(120, 177, 34);
    border: solid 1px rgb(120, 177, 34);
}
.main-page-grid-1-title{
    color: black;
    font-size: 50px;
    font-weight: bold;
}
.div-navbar-main-footer{
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: auto;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnHeader{
    background-color: black;
    color: white;
    border-radius: 11px;
    border: solid 1px black;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    padding-left: 12px;
}
.btnHeader:hover{
    background-color: white;
    color: black;
}
.nav-link{
    color: black;
}
.navbar{
    background-color: white;
}

/* CSS DEL RETO #2 */

.body-tree{
    text-align: center;
}
.button-tree{
    color: red;
}
body{
    background-color: rgb(0, 0, 75);
}
.div-script-tree{
    color: green;
    font-weight: bold;
    text-align: center;
}
.div-star{
    position: relative;
    top: 59px;
    left: 29px;
}
