.main-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.main-page-grid-1{
    padding-top: 20%;
    background-color: red;
}
.input-main-page{
    background-color: red;
}
.button-main-page{
    background-color: red;
}
.body{
    background-color: red;
}